<div class="row BacgroundColor Header">
    <div class="col-6">
        <img src="../../../assets/Img/LogoCasa.jpg" class="imgLogo"/>
    </div>
    <div class="col-6">
        <h5 class="texto">BPM Soporte</h5>
    </div>
</div>

<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <h5 class="col-12 tituloformulario">CONSULTA SOPORTE</h5>
    </div>
    <div class="row mt-3">
        <!--Ayuda Cliente-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <select class="form-select" title="Seleccionar Cliente" [(ngModel)]="NombreCliente"
                (change)='Grilla(FuncionarioReportaValue.value)'>
                <option value="0" selected>Seleccione Cliente</option>
                <option value="{{arRespu.NOMBRECLIENTE}}" *ngFor="let arRespu of ArrSeleccionarCliente">
                    {{arRespu.NOMBRECLIENTE}}</option>
            </select>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Empresa solicitante-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Empresa Solicitante" #EmpresaSolicitanteValue
                title="Empresa Solicitante" [(ngModel)]="EmpresaSolicitante"
                (keyup)="Grilla(FuncionarioReportaValue.value)">
            <button id="pass" class="bot BtnimgTamano mld"
                (click)="BtnEmpresaSolicitante(templateempresasolicitante, EmpresaSolicitanteValue.value)">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Funcionario Reporta-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Funcionario Reporta" #FuncionarioReportaValue
                title="Funcionario Reporta" [(ngModel)]="FuncionarioReporta">
            <button id="pass" class="bot BtnimgTamano mld"
                (click)="PopapFuncionarioReporta(templateFuncionarioReporta, FuncionarioReporta, '0')">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Funcionario Soluciona-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Funcionario Soluciona" title="Funcionario Soluciona"
                [(ngModel)]="FuncionarioSoluciona">
            <button id="pass" class="bot BtnimgTamano mld"
                (click)="PopapFuncionarioSoluciona(templateFuncionarioSoluciona, FuncionarioSoluciona, '0')">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->
    </div>
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween" (change)='Grilla(FuncionarioReportaValue.value)'>
        <input type="date" class="form-control" title="Fecha registro inicial" [(ngModel)]="FechaRegistroInicial">
    </div>
    <!--Fin ayuda-->
    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" title="Fecha registro final" [(ngModel)]="FechaRegistroFinal"
            (change)='Grilla(FuncionarioReportaValue.value)'>
    </div>
    <!--Fin ayuda-->


    <!--Fecha atencion-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" title="Fecha atencion inicial" [(ngModel)]="FechaAtencionInicial"
            (change)='Grilla(FuncionarioReportaValue.value)'>
    </div>
    <!--Fin ayuda-->
    <!--Fecha atencion-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" title="Fecha atencion final" [(ngModel)]="FechaAtencionFinal"
            (change)='Grilla(FuncionarioReportaValue.value)'>
    </div>
    <!--Fin ayuda-->
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Prioridad" [(ngModel)]="IdCDPRIORIDAD"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Prioridad</option>
            <option value="{{arRespu.CDPRIORIDAD}}" *ngFor="let arRespu of ArrPrioridad">{{arRespu.PRIORIDAD}}</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Evento" [(ngModel)]="IdCdEvento"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Evento</option>
            <option value="{{arRespu.CDEVENTO}}" *ngFor="let arRespu of ArrEventos">{{arRespu.EVENTO}}</option>
        </select>
    </div>
    <!--Fin Tipo lista-->



    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Imputación" [(ngModel)]="IdCDIMPUTACION"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Imputación</option>
            <option value="{{arRespu.CDIMPUTACION}}" *ngFor="let arRespu of ArrImputacion">{{arRespu.IMPUTACION}}
            </option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Ayuda Trámite-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="text" class="form-control" placeholder="Trámite" title="Trámite" [(ngModel)]="Tramite"
            (keyup)="Grilla(FuncionarioReportaValue.value)">
    </div>
    <!--Fin ayuda-->
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Estado" [(ngModel)]="IdCdEstado"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Estado</option>
            <option value="{{arRespu.CDESTADO}}" *ngFor="let arRespu of ArrEstado">{{arRespu.ESTADO}}</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Modulo" [(ngModel)]="IdCdModulo"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Modulo</option>
            <option value="{{arRespu.CDMODULO}}" *ngFor="let arRespu of ArrModulo">{{arRespu.MODULO}}</option>
        </select>
    </div>
    <!--Fin Tipo lista-->



    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Tipo Solicitud" [(ngModel)]="IdCDTPOSOL"
            (change)='Grilla(FuncionarioReportaValue.value)'>
            <option value="0" selected>Seleccione Tipo Solicitud</option>
            <option value="{{arRespu.CDTPOSOL}}" *ngFor="let arRespu of ArrSolicitud">{{arRespu.TIPOSOLICITUD}}</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Ayuda Funcionario Trámite-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="text" class="form-control" placeholder="Radicado" title="Radicado" [(ngModel)]="Radicado"
            (keyup)="Grilla(FuncionarioReportaValue.value)">
    </div>
    <!--Fin ayuda-->
</div>


<div class="row col-0 mt-2" style="justify-content: center;">
    <button type="button" class="btn col-2 btn-outline-dark" (click)="Limpiar()">Limpiar
        <img src="../../../../assets/Img/Limpiar.png" class="BtnimgTamano">
    </button>

    <button type="button" class="btn col-2 btn-outline-dark" (click)="BtnExportarExcel(templateMensaje, FuncionarioReportaValue.value)">Descargar Excel
        <img src="../../../../assets/Img/Excel.png" class="BtnimgTamano">
    </button>
</div>
<!--Grilla-->
<div class="col-sm-12 mt-5">
    <table class="table table-bordered text-center">
        <tr style="background-color: #045494; color: white;">
            <th colspan="5" style="text-align: right;">Soporte BPM</th>
            <th colspan="4">
                <p style="text-align: right;">NUMERO DE RESULTADOS PARA VER: </p>
            </th>
            <th>
                <div class="row" style="float: right;">
                    <div class="col-sm-12">
                        <select class="form-select" style="width: 100px;" title="Numero de resultados a mostrar"
                            [(ngModel)]="NumeroResultados" (change)='Grilla(FuncionarioReportaValue.value)'>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50" title="Maximo">50</option>
                        </select>
                    </div>
                </div>
            </th>
            <th></th>
        </tr>
        <tr class="LineaTabla" style="background-color: #045494;">
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Radicado</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Tramite</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Cliente</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Area</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Funcionario Reporta</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Empresa Solicita</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Incidente</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Tipo Solicitud</th>
            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">Modulo</th>

            <th *ngIf="AuxMustraGrilla == false" class="cursorPointer">
                <button (click)="AuxMustraGrilla = true">
                    <img src="../../../../assets/Img/Siguiente.png" class="BtnimgTamano">
                </button>
            </th>

            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">
                <button (click)="AuxMustraGrilla = false">
                    <img src="../../../../assets/Img/Anterior.png" class="BtnimgTamano">
                </button>
            </th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Evento</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Fecha Registro</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Funcionario Solucion</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Estado</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Flujo</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Prioridad</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Imputación</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Fecha Atención</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Hora Atención</th>
            <th *ngIf="AuxMustraGrilla == true" class="cursorPointer">Descripción Solucion</th>
        </tr>
        <tr *ngFor="let ArGrilla of ArregloGrilla" class="LineaTabla">
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.Ticket}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.Tramite}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.NOMBRECLIENTE}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.AREA}}</td>
            <td *ngIf="AuxMustraGrilla == false" style="white-space: nowrap;">{{ArGrilla.FuncionarioReporta}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.RAZONSOCIAL}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.INCIDENTE}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.TIPOSOLICITUD}}</td>
            <td *ngIf="AuxMustraGrilla == false">{{ArGrilla.MODULO}}</td>


            <td></td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.EVENTO}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.FECHAREGISTRO}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.FUNCIONARIOASIGNADOSOLUCION}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.ESTADO}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.FLUJO}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.PRIORIDAD}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.IMPUTACION}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.FECHAATENCION}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.HORAATENCION}}</td>
            <td *ngIf="AuxMustraGrilla == true">{{ArGrilla.SOLUCIONINCIDENTEI}}</td>
        </tr>
    </table>
</div>
<!--fin Grilla-->


<ng-template #templateempresasolicitante>
    <div class="modal-header">
        <th class="titulopopup">Empresa solicitante</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalEmpresasolicitante.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/Img/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="col-sm-12 mt-3 row displayCenter">
            <div class="col-sm-11 mb-2">
                <input type="text" class="form-control" [(ngModel)]="EmpresaSolicitante" title="Empresa solicitante">
            </div>
            <div class="col-sm-1">
                <button id="pass" class="bot BtnimgTamano mld" (click)="ListaEmpresaSolicitante(EmpresaSolicitante)">
                    <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
                </button>
            </div>
            <li class="row col-sm-12 espacioul" style="width: 100%"
                *ngFor="let ArRueda of ArregloListaEmpresaSolicitante">
                <div class="col-11">
                    <input type="text" value="{{ArRueda.RAZONSOCIAL}}" class="col-sm-12" title="{{ArRueda.RAZONSOCIAL}}"
                        disabled>
                </div>
                <div class="col-1">
                    <button class="bot" title="Seleccionar empresa" (click)="BtnSeleccionarEmpresaSolicitante(ArRueda)">
                        <img src="../../../../assets/Img/Seleccionar.png" alt="Ver" class="BtnimgTamanoPeque">
                    </button>
                </div>
            </li>
        </div>
        <br>
    </div>
    <br>
</ng-template>

<ng-template #templateFuncionarioReporta>
    <div class="modal-header">
        <th class="titulopopup">Funcionario Reporta</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalFuncionarioReporta.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/Img/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="row">

            <div class="col-sm-6 mt-3 row displayCenter">
                <p class="col-sm-12 text-center Negrita">Funcionario reporta</p>
                <div class="col-sm-12">
                    <input type="text" class="form-control mb-2 Negrita" #FuncionarioReportaValue
                        title="Buscar por funcionario" placeholder="Filtro funcionario"
                        (keyup)="ListaFuncionarioReporta(FuncionarioReportaValue.value, ClienteValue.value)">
                </div>
                <li class="row col-sm-12 espacioul" style="width: 100%"
                    *ngFor="let ArRueda of ArregloFuncionarioReporta">
                    <div class="col-12">
                        <input type="text" value="{{ArRueda.NOMBREFUNCIONARIO}}" class="col-sm-12"
                            title="{{ArRueda.NOMBREFUNCIONARIO}}" disabled>
                    </div>
                </li>
            </div>


            <div class="col-sm-6 mt-3 row displayCenter">
                <p class="col-sm-12 text-center Negrita">ID cliente</p>
                <div class="col-sm-12">
                    <input type="text" class="form-control mb-2 Negrita" #ClienteValue title="Buscar por cliente"
                        placeholder="Filtro cliente"
                        (keyup)="ListaFuncionarioReporta(FuncionarioReportaValue.value, ClienteValue.value)">
                </div>
                <li class="row col-sm-12 espacioul" style="width: 100%"
                    *ngFor="let ArRueda of ArregloFuncionarioReporta">
                    <div class="col-11">
                        <input type="text" value="{{ArRueda.NUMEROID}}" class="col-sm-12"
                            title="{{ArRueda.NOMBRECLIENTE}}" disabled>
                    </div>
                    <div class="col-1">
                        <button class="bot" title="Seleccionar empresa"
                            (click)="seleccionarFuncionarioReporta(ArRueda)">
                            <img src="../../../../assets/Img/Seleccionar.png" alt="Ver" class="BtnimgTamanoPeque">
                        </button>
                    </div>
                </li>
            </div>
        </div>
        <br>
    </div>
    <br>
</ng-template>

<ng-template #templateFuncionarioSoluciona>
    <div class="modal-header">
        <th class="titulopopup">Funcionario soluciona</th>
        <button type="button" class="bot" aria-label="Close" (click)="modalFuncionarioSoluciona.hide();">
            <img id="imgActual" alt="advertencia" src="../../../assets/Img/ic_equis.png" class="btnEquis">
        </button>
    </div>
    <div class="modaBody">
        <div class="row">

            <div class="col-sm-6 mt-3 row displayCenter">
                <p class="col-sm-12 text-center Negrita">Funcionario reporta</p>
                <div class="col-sm-12">
                    <input type="text" class="form-control mb-2 Negrita" #FuncionarioReportaValue
                        title="Buscar por funcionario" placeholder="Filtro funcionario"
                        (keyup)="ListaFuncionarioReporta(FuncionarioReportaValue.value, ClienteValue.value)">
                </div>
                <li class="row col-sm-12 espacioul" style="width: 100%"
                    *ngFor="let ArRueda of ArregloFuncionarioReporta">
                    <div class="col-12">
                        <input type="text" value="{{ArRueda.NOMBREFUNCIONARIO}}" class="col-sm-12"
                            title="{{ArRueda.NOMBREFUNCIONARIO}}" disabled>
                    </div>
                </li>
            </div>


            <div class="col-sm-6 mt-3 row displayCenter">
                <p class="col-sm-12 text-center Negrita">ID cliente</p>
                <div class="col-sm-12">
                    <input type="text" class="form-control mb-2 Negrita" #ClienteValue title="Buscar por cliente"
                        placeholder="Filtro cliente"
                        (keyup)="ListaFuncionarioReporta(FuncionarioReportaValue.value, ClienteValue.value)">
                </div>
                <li class="row col-sm-12 espacioul" style="width: 100%"
                    *ngFor="let ArRueda of ArregloFuncionarioReporta">
                    <div class="col-11">
                        <input type="text" value="{{ArRueda.NUMEROID}}" class="col-sm-12"
                            title="{{ArRueda.NOMBRECLIENTE}}" disabled>
                    </div>
                    <div class="col-1">
                        <button class="bot" title="Seleccionar empresa"
                            (click)="seleccionarFuncionarioSoluciona(ArRueda)">
                            <img src="../../../../assets/Img/Seleccionar.png" alt="Ver" class="BtnimgTamanoPeque">
                        </button>
                    </div>
                </li>
            </div>
        </div>
        <br>
    </div>
    <br>
</ng-template>
<ng-template #templateMensaje>
    <div class="modaBody">
        <div class="col-12">
            <p class="pModals">{{ lblModalMsaje }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-0">
            <button class="btn btn btn-dark bot" (click)="modalMensaje.hide();" title="Cerrar ventana">
                Aceptar
            </button>
        </div>
    </div>
    <br>
</ng-template>