<div class="container bg-white pt-5 pb-5">
    <div class="row justify-content-center ">
        <h5 class="col-12 tituloformulario">CONSULTA SOPORTE</h5>
    </div>
    <div class="row mt-3">
        <!--Ayuda Cliente-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Cliente" title="Cliente">
            <button id="pass" class="bot BtnimgTamano mld">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Empresa solicitante-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Empresa Solicitante" title="Empresa Solicitante">
            <button id="pass" class="bot BtnimgTamano mld">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Funcionario Reporta-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Funcionario Reporta" title="Funcionario Reporta">
            <button id="pass" class="bot BtnimgTamano mld">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->

        <!--Ayuda Funcionario Soluciona-->
        <div class="col-sm-6 m-0 mb-3 displayFlexbetween">
            <input type="text" class="form-control" placeholder="Funcionario Soluciona" title="Funcionario Soluciona">
            <button id="pass" class="bot BtnimgTamano mld">
                <img src="../../../../assets/Img/buscar.png" class="BtnimgTamano">
            </button>
        </div>
        <!--Fin ayuda-->
    </div>
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" placeholder="Cliente" title="Cliente">
    </div>
    <!--Fin ayuda-->
    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" placeholder="Cliente" title="Cliente">
    </div>
    <!--Fin ayuda-->


    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" placeholder="Cliente" title="Cliente">
    </div>
    <!--Fin ayuda-->
    <!--Fecha reguistro-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="date" class="form-control" placeholder="Cliente" title="Cliente">
    </div>
    <!--Fin ayuda-->
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Prioridad">
            <option value="0" selected>Seleccione Prioridad</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Evento">
            <option value="0" selected>Seleccione Evento</option>
        </select>
    </div>
    <!--Fin Tipo lista-->



    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Imputación">
            <option value="0" selected>Seleccione Imputación</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Ayuda Trámite-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="text" class="form-control" placeholder="Trámite" title="Trámite">
    </div>
    <!--Fin ayuda-->
</div>
<div class="row col-11 mt-3" style="margin: auto; justify-content: center;">
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Estado">
            <option value="0" selected>Seleccione Estado</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Modulo">
            <option value="0" selected>Seleccione Modulo</option>
        </select>
    </div>
    <!--Fin Tipo lista-->



    <!--Tipo lista-->
    <div class="col-sm-3 m-0 mb-3 ">
        <select class="form-select" title="Seleccionar Tipo Solicitud">
            <option value="0" selected>Seleccione Tipo Solicitud</option>
        </select>
    </div>
    <!--Fin Tipo lista-->
    <!--Ayuda Funcionario Trámite-->
    <div class="col-sm-3 m-0 mb-3 displayFlexbetween">
        <input type="text" class="form-control" placeholder="Radicado" title="Radicado">
    </div>
    <!--Fin ayuda-->
</div>
<!--Grilla-->
<div class="col-sm-12 mt-5">
    <table class="table table-bordered text-center">
        <tr>
            <th colspan="20">Soporte BPM</th>
        </tr>
        <tr>
            <th class="cursorPointer">Radicado</th>
            <th class="cursorPointer">Tramite</th>
            <th class="cursorPointer">Cliente</th>
            <th class="cursorPointer">Area</th>
            <th class="cursorPointer">Funcionario Reporta</th>
            <th class="cursorPointer">Empresa Solicita</th>
            <th class="cursorPointer">Incidente</th>
            <th class="cursorPointer">Tipo Solicitud</th>
            <th class="cursorPointer">Modulo</th>
            <th class="cursorPointer">Evento</th>
            <th class="cursorPointer">Fecha Registro</th>
            <th class="cursorPointer">Funcionario Solucion</th>
            <th class="cursorPointer">Estado</th>
            <th class="cursorPointer">Flujo</th>
            <th class="cursorPointer">Prioridad</th>
            <th class="cursorPointer">Imputación</th>
            <th class="cursorPointer">Fecha Atención</th>
            <th class="cursorPointer">Hora Atención</th>
            <th class="cursorPointer">Descripción Solucion</th>
        </tr>
    </table>
</div>
<!--fin Grilla-->